/* ==========================================================================
Typography
========================================================================== */

html {
	color: #C0CCDA;
}

a {
	color: #C96E86;
}
/** Sub-section comment block **/

/* ==========================================================================
Header
========================================================================== */

header {
	background-color: #C7D7C0;
	padding: 2rem;
}

/* ==========================================================================
footer
========================================================================== */

footer {
	background-color: #977f6c;
	padding: 2rem;
}