@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');


/* ==========================================================================
Colors
========================================================================== */

:root {
	--color-smoothie: #C96E86;
	--color-light-smoothie: #fe9eb6;
	--color-dark-smoothie: #964059;
	--color-mint: #C7D7C0;
	--color-light-mint: #fafff3;
	--color-dark-mint: #96a690;
	--color-coffee: #685341;
	--color-light-coffee: #977f6c;
	--color-dark-coffee: #3c2a1a;
	--color-smoke: #909090;
	--color-extra-dark-smoke: #636363;
	--color-dark-smoke: #494848;
}

/* ==========================================================================
Typography
========================================================================== */

:root {
	--font-primary: Roboto, Arial, sans-serif;
	--font-secondary: Raleway, Arial, sans-serif;

}

html {
	color: var(--color-extra-dark-smoke);
	font-family: var(--font-primary);
	line-height: 2;

	--size-ratio: 1.19;
	--size-six-up: calc( var(--size-five-up) * var(--size-ratio) );
	--size-five-up: calc( var(--size-four-up) * var(--size-ratio) );
	--size-four-up: calc( var(--size-three-up) * var(--size-ratio) );
	--size-three-up: calc( var(--size-two-up) * var(--size-ratio) );
	--size-two-up: calc( var(--size-one-up) * var(--size-ratio) );
	--size-one-up: calc( 1rem * var(--size-ratio) );

	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
	line-height: 1;
	color: var(--color-dark-coffee);
}

h1 {
	font-size: var(--size-six-up);
}

h2 {
	font-size: var(--size-five-up);
}

h3 {
	font-size: var(--size-four-up);
}

h4 {
	font-size: var(--size-three-up);
}

h5 {
	font-size: var(--size-two-up);
}

h6 {
	font-size: var(--size-one-up);
}


a {
	color: var(--color-dark-smoothie);
	text-decoration: none;
}

a:hover {
	color: var(--color-dark-coffee);
	text-decoration: none;
}

@media ( min-width: 700px ) {
	
	html {
		font-size: 16px;
		--size-ratio: 1.21;
	}
	
}

@media ( min-width: 1200px ) {
	
	html {
		font-size: 19px;
		--size-ratio: 1.23;
	}
	
}



/* ==========================================================================
Body
========================================================================== */

body {
	background-color: var(--color-light-mint);
	color:var(--color-smoke);
	margin: 0;
}

main {
	max-width: 40rem;
	padding: 2rem;
}

/* ==========================================================================
Header
========================================================================== */

.logo {
	font-family: var(--font-secondary);
	font-size: 2rem;
}

nav a:hover, .logo:hover {
	color: white;
	text-decoration: none;
}

/* ==========================================================================
Navigation
========================================================================== */

.nav-secondary li li {
	padding-left: 2rem;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-primary {
	background-color: var(--color-light-smoothie);
	padding: 2rem;
}

.nav-primary nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-primary li {
	border-top: 1px solid var(--color-dark-smoothie);
	padding: .5rem 0;
}

.nav-primary nav a {
	padding: 1rem 0;
}

.current-page {
	font-weight: bold;
	letter-spacing: .3rem;
}

@media ( min-width: 625px ) {
	
	.nav-primary li {
		display: inline;
		border: none;
		padding-right: 2rem;
	}
	
	.nav-primary a {
		display: inline-block;
	}
	
}

/* ==========================================================================
footer
========================================================================== */

footer {
	background-color: var(--color-mint);
	padding: 2rem;
	margin: 0;
}

/* ==========================================================================
buttons
========================================================================== */

.link-button-hero {
	border-radius: .5rem;
	display: inline-block;
	padding: 0 2rem;
}

.link-button-hero-smoothie {
	background-color: var(--color-light-smoothie);
}

.link-button-hero-smoothie:hover {
	background-color: var(--color-smoothie);
	color: white;
	text-decoration: none;
}

.link-button-hero-smoothie:focus {
	background-color: var(--color-dark-smoothie);
	outline: none;
}

.link-button-hero-smoothie:active {
	box-shadow: 1px 1px;
	color: white;
}

.link-button-hero-coffee {
	background-color: var(--color-light-coffee);
	color: var(--color-dark-coffee);
	margin-left: 1rem;
}

.link-button-hero-coffee:hover {
	background-color: var(--color-coffee);
	color: white;
	text-decoration: none;
}

.link-button-hero-coffee:focus {
	background-color: var(--color-dark-coffee);
	outline: none;
}

.link-button-hero-coffee:active {
	box-shadow: 1px 1px;
	color: white;
}

.link-button-normal {
	border: 2px solid;
	border-radius: .5rem;
	padding: 0 2rem;
	display: inline-block;
	color: var(--color-dark-smoothie);
	margin: 0 1rem;
}

.link-button-normal:hover {
	box-shadow: 1px 1px;
	color: var(--color-dark-smoothie);
	text-decoration: none;
}

.link-button-normal:focus {
	color: var(--color-dark-smoothie);
	outline: none;
}

.link-button-normal:active {
	box-shadow: 2px 2px;
	color: var(--color-dark-smoothie);
}

.link-button-tertiary {
	border: 2px solid;
	border-radius: .5rem;
	padding: 0 2rem;
	display: inline-block;
	color: var(--color-dark-smoke)
}

.link-button-tertiary:hover {
	box-shadow: 1px 1px;
	color: var(--color-dark-smoke);
	text-decoration: none;
}

.link-button-tertiary:focus {
	color: var(--color-dark-smoke);
	outline: none;
}

.link-button-tertiary:active {
	box-shadow: 2px 2px;
	color: var(--color-dark-smoke);
}


/* ==========================================================================
Accordion
========================================================================== */

summary {
	border-bottom: 2px solid;
	padding: .5rem 0;
}

summary:focus, details[open] summary {
	background-color: var(--color-mint);
	outline: none;
}

/* ==========================================================================
Examples
========================================================================== */

figure {
	margin: 0;
	border: dashed .5rem var(--color-dark-mint);
	border-radius: 1rem;
	padding: 2rem;
}

.example-color-palette {
	text-align: center;
}

.example-button-links {
	text-align: center;
}

.example-raleway-font {
	font-family: var(--font-secondary);
}

.example-roboto-font {
	font-family: var(--font-primary);
}

/* ==========================================================================
forms
========================================================================== */

input, select, textarea {
	border: 2px solid var(--color-light-smoothie);
	border-radius: .5rem;
	box-sizing: border-box;
	display: block;
	margin-top: .5rem;
	min-width: 50%;
	padding: .5rem;
	-webkit-appearance:none;
	margin-bottom: 1rem;

}

input:focus, select:focus, textarea:focus {
	box-shadow: 2px 2px 0 #999;
	outline: none;
}

input[disabled], select[disabled], textarea[disabled] {
	opacity: .5;
}

.error {
	background-color: var(--color-smoothie);
	border: 2px solid var(--color-dark-smoothie);
	color: white;
}

.error-message {
	color: var(--color-dark-smoothie);
	margin: 0;
}

button, input[type="submit"] {
	border-radius: .5rem;
	background-color: var(--color-light-smoothie);
	display: inline-block;
	padding: .5rem 2rem;
	color: var(--color-dark-smoothie);
}

button:hover {
	background-color: var(--color-smoothie);
	color: white;
	text-decoration: none;
}

button:focus {
	background-color: var(--color-dark-smoothie);
	outline: none;
}

button:active {
	box-shadow: 1px 1px;
	color: white;
}

/* ==========================================================================
Modal Dialog Box
========================================================================== */

dialog {
	border: none;
	border-radius: 1rem;
	box-shadow: 7px 7px 7px rgba( 0, 0, 0, .5 );
	padding: 2rem;
	background-color: var(--color-light-mint);
}

dialog[open] {
	animation: fade-in 2s;
}

@keyframes fade-in {
	
	0% {
		opacity: 0;
		transform: scale(.1);
	}
	
	60% {
		transform: scale(1.25);
	}
	
	100% {
		opacity: 1;
		transform: scale(1);
	}
	
}

/* ==========================================================================
Notifications
========================================================================== */

.notifications img {
	width: 40px;
	height: 40px;
	padding: 1rem;

}

.notifications section {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.notifications p {
	padding: 1rem 0 0 2rem;
	margin: 0;
}

.notification-warning img {
	background-color: var(--color-coffee);
}

.notification-neutral img {
	background-color: var(--color-light-coffee);
}

.notification-success img {
	background-color: var(--color-dark-mint);
}

.notification-error img {
	background-color: var(--color-dark-smoothie);
}

.notification-error {
	border: 5px solid var(--color-dark-smoothie);
}

.notification-warning {
	border: 5px solid var(--color-coffee);
}

.notification-neutral {
	border: 5px solid var(--color-light-coffee);
}

.notification-success {
	border: 5px solid var(--color-dark-mint);
}

/* ==========================================================================
Hero
========================================================================== */

.hero {
	background-color: var(--color-smoothie);
	padding: 10vh;
}

.hero h1 {
	margin: 0;
}

.hero img {
	display: block;
	align-content: center;
	margin: auto;
	width: 100%;
}

@media ( min-width: 620px ) {
	.hero {
		display: flex;
	}
	.hero img {
		width: 50%;
	}
}

.hero-section img {
	width: 100%;
}